#### Import libraries

In [1]:
import praw
import pandas as pd

#### Scraping from r/GenZ

In [13]:
# authenticate with Reddit API
reddit = praw.Reddit(
    client_id="oa9Echgvw5weRGEO6B9y9w",
    client_secret="DHlTGTWPDAxi-7_VIDOD-JgM2IlI-Q",
    user_agent="red_api_test"
)

# list to store threads and comments
threads = []
comments = []

# subreddit to scrape
subreddit = reddit.subreddit("GenZ")

# iterate through hottest threads in subreddit
for submission in subreddit.top(limit=100):

    # store thread data
    thread = {
        "id": submission.id,
        "title": submission.title,
        "body": submission.selftext,
        "score": submission.score,
        "num_comments": submission.num_comments
    }
    threads.append(thread)

    # store all comment data under thread
    submission.comments.replace_more(limit=0)
    for comment in submission.comments.list():
        comment_data = {
            "thread_id": submission.id,
            "comment_id": comment.id,
            "comment_text": comment.body,
            "comment_score" : comment.score,
            "comment_replies" : comment.replies.__len__()
        }
        comments.append(comment_data)

# store in pandas dataframe
genz_threads_df = pd.DataFrame(threads)
genz_comments_df = pd.DataFrame(comments)

In [14]:
#view first 5 rows of df
genz_threads_df.head()

,id,title,body,score,num_comments
0,18zc3op,Who else remembers Net Neutrality and when thi...,,30449,1977
1,18jeumy,Do Gen Z guys experience this?,,23131,4574
2,19246wl,Should student loan debt be forgiven?,I think so I also think it’s crazy how hard mi...,21376,2213
3,190zscp,Thoughts?,,17966,6138
4,1944wts,Thoughts?,,14127,2348

In [15]:
#view number of rows and columns in the df
genz_threads_df.shape

(100, 5)

In [16]:
#view first 5 rows of df
genz_comments_df.head()

,thread_id,comment_id,comment_text,comment_score,comment_replies
0,18zc3op,kggheri,We are looking for moderators! If you're inter...,1,0
1,18zc3op,kggs4al,And he absolutely deserves it,1336,5
2,18zc3op,kggv8pg,I randomly thought about the whole net neutral...,197,4
3,18zc3op,kggxrvu,"""hello my fellow brand conusming youth got my ...",107,2
4,18zc3op,kggth7g,has anything even came of net neutrality being...,478,10

In [17]:
#view number of rows and columns in the df
genz_comments_df.shape

(38065, 5)

In [27]:
#exporting both genz df to csv
genz_threads_df.to_csv('genz_threads.csv', index=False)
genz_comments_df.to_csv('genz_comments.csv', index=False)

#### Scraping from r/Millennials

In [20]:
# list to store threads and comments
threads = []
comments = []

# subreddit to scrape
subreddit = reddit.subreddit("Millennials")

# iterate through hottest threads in subreddit
for submission in subreddit.top(limit=100):

    # store thread data
    thread = {
        "id": submission.id,
        "title": submission.title,
        "body": submission.selftext,
        "score": submission.score,
        "num_comments": submission.num_comments
    }
    threads.append(thread)

    # store all comment data under thread
    submission.comments.replace_more(limit=0)
    for comment in submission.comments.list():
        comment_data = {
            "thread_id": submission.id,
            "comment_id": comment.id,
            "comment_text": comment.body,
            "comment_score" : comment.score,
            "comment_replies" : comment.replies.__len__()
        }
        comments.append(comment_data)

# store in pandas dataframe
millennials_threads_df = pd.DataFrame(threads)
millennials_comments_df = pd.DataFrame(comments)

In [21]:
#view first 5 rows of df
millennials_threads_df.head()

,id,title,body,score,num_comments
0,18ay2s2,"Finally, a worthy millennial bloodline to take...",,19849,516
1,194dkqv,Warning to younger millennials…extra writing t...,,19329,1058
2,182z60u,I brought my kid to a mall on Black Friday. It...,I remember being his age and this exact spot b...,19163,2458
3,17s83gl,The idea of having this much in SAVINGS is wil...,"If you are the 1 in 6 with this much savings, ...",18673,2690
4,195hzmy,Where do the 35-40 year old people hangout on ...,Especially during the winter if you’re in a co...,15245,1640

In [22]:
#view number of rows and columns in the df
millennials_threads_df.shape

(100, 5)

In [23]:
#view first 5 rows of df
millennials_comments_df.head()

,thread_id,comment_id,comment_text,comment_score,comment_replies
0,18ay2s2,kc10fzs,Watch their kid just become like an accountant.,1092,34
1,18ay2s2,kc1bowr,Can you imagine the bragging rights at school?...,304,9
2,18ay2s2,kc12zpc,They both look like their dads.,226,8
3,18ay2s2,kc11j9m,The Sacred One shall be birthed anew,144,1
4,18ay2s2,kc0zrs8,The world is so small yet so big at the same t...,59,2

In [24]:
#view number of rows and columns in the df
millennials_comments_df.shape

(48145, 5)

In [26]:
#exporting both millennials df to csv
millennials_threads_df.to_csv('millennials_threads.csv', index=False)
millennials_comments_df.to_csv('millennials_comments.csv', index=False)