## Combining genz_comments and millennials_comments into one dataframe for EDA purposes

Import libraries

In [1]:
import pandas as pd

Load datasets

In [2]:
genz_comments_df = pd.read_csv('../data/genz_comments.csv')
millennials_comments_df = pd.read_csv('../data/millennials_comments.csv')

Adding new column into `genz_comments_df` and `millennials_comments_df` called `generation_z` to indicate where the data was originally from, before we concat the data into one df.
* from `genz_comments_df` : col value = 1
* from `millennials_comments_df` ; col value = 0

In [3]:
genz_comments_df['generation_z'] = 1
genz_comments_df.head()

,thread_id,comment_id,comment_text,comment_score,comment_replies,generation_z
0,18zc3op,kggheri,We are looking for moderators! If you're inter...,1,0,1
1,18zc3op,kggs4al,And he absolutely deserves it,1336,5,1
2,18zc3op,kggv8pg,I randomly thought about the whole net neutral...,197,4,1
3,18zc3op,kggxrvu,"""hello my fellow brand conusming youth got my ...",107,2,1
4,18zc3op,kggth7g,has anything even came of net neutrality being...,478,10,1

In [4]:
millennials_comments_df['generation_z'] = 0
millennials_comments_df.head()

,thread_id,comment_id,comment_text,comment_score,comment_replies,generation_z
0,18ay2s2,kc10fzs,Watch their kid just become like an accountant.,1092,34,0
1,18ay2s2,kc1bowr,Can you imagine the bragging rights at school?...,304,9,0
2,18ay2s2,kc12zpc,They both look like their dads.,226,8,0
3,18ay2s2,kc11j9m,The Sacred One shall be birthed anew,144,1,0
4,18ay2s2,kc0zrs8,The world is so small yet so big at the same t...,59,2,0

Combining both data sets together into one df for EDA using pd.concat

In [5]:
comments = pd.concat([millennials_comments_df, genz_comments_df], axis=0, ignore_index=True)

In [6]:
comments.head()

,thread_id,comment_id,comment_text,comment_score,comment_replies,generation_z
0,18ay2s2,kc10fzs,Watch their kid just become like an accountant.,1092,34,0
1,18ay2s2,kc1bowr,Can you imagine the bragging rights at school?...,304,9,0
2,18ay2s2,kc12zpc,They both look like their dads.,226,8,0
3,18ay2s2,kc11j9m,The Sacred One shall be birthed anew,144,1,0
4,18ay2s2,kc0zrs8,The world is so small yet so big at the same t...,59,2,0

In [7]:
comments.tail()

,thread_id,comment_id,comment_text,comment_score,comment_replies,generation_z
86205,d4kzaz,f0g3il9,So was my oldest brother. It was awkward going...,3,0,1
86206,d4kzaz,f0hh5vf,True true,4,0,1
86207,d4kzaz,f0f5eh7,Or so,2,0,1
86208,d4kzaz,f0f3bbj,lol,-3,0,1
86209,d4kzaz,f0gz53g,Oh yeah I forgot. some of you still think 40 i...,3,0,1

Exporting to csv

In [8]:
#exporting comments df to csv
comments.to_csv('../data/comments.csv', index=False)